.mbl-header {
    width: 100%;
    border-bottom: 1px solid lightgray;

    .mbl-nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    span {
        cursor: default;
    }
}


.nav-open {
    background-color: rgb(17, 69, 99);
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .mobile-nav-op {
        font-size: 44px;
        color: white;
        font-weight: bold;
        text-transform: lowercase;
        margin: 0 0 20px;
    }
}