.mbl-home-container {
    width: 80%;

    .banner-text {
        margin: 0;
        width: 100%;

        #tagline {
            font-size: 40px;
        }
    }

    #people {
        width: 100%;
    }
}