.mbl-home-container {
    width: 80%;
    height: 100vh;

    .banner-text {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        #tagline {
            font-size: 36px;
        }

        #let-us-help {
            font-size: 22px;
        }

        a {
            width: 100%;
            button {
                width: 100%;
            }
        }
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    }

    #people {
        width: 80%;
    }
}