/* global styles */
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  font-size: 16px;
  text-align: center;
}

.header {
  text-align: left;
  margin-left: 20px;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-container {
  display: flex;
  width: 80%;
  justify-content: center;
  height: 100vh;
}

.left {
  width: 40%;
}

.banner-text {
  width: 70%;
  margin-top: 10%;
  text-align: left;
}

#tagline {
  font-weight: 700;
  font-size: 48px;
}

#let-us-help {
  font-size: 28px;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#people {
  width: 600px;
}

.attr {
  text-decoration: none;
  color: rgb(161, 161, 161);
  font-size: 10px;
}

#attr-left {
  text-align: left;
}

/* airlines section  */
.airlines-container {
  height: 100vh;
  width: 80%;
  display: flex;
  justify-content: center;
}

.airlines-content {
  display: flex;
  width: 100%;
}

.airlines-left {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 400px;
}
#choose {
  font-size: 44px;
  font-weight: 700;
}

#travelers {
  width: 400px;
  height: 400px;
}

.ua, .aa, .dl {

}

.airline-name {
  font-weight: bold;
  font-size: 32px;
}

.card-img {
  width: 100px;
}
.airlines-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
}
.airlines img {
  width: 100px;
  height: 100px;
}

.card {
  margin: 20px;
}

.form-container {
  width: 80%;
  display: flex;
  height: 100vh;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  width: 50%;
}

#miles-img {
  width: 550px;
}

.miles-left {
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 32px;
  font-weight: 900;
  text-align: right;
}

.money-container {
  width: 80%;
  display: flex;
  height: 100vh;
}

.money-right {
  display: flex;
  flex-direction: column;
}

#money-img {
  width: 550px;
}

.result-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
  margin: 10%;
  font-size: 72px;
  width: 50%;
}

.result {
  height: 100vh;
}

#result-text {
  font-weight: bold;
  font-size: 42px;
}

button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  margin-bottom: 30px;
  min-width: 64px;
  font-size: 1rem;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
  background-color: #146fa3;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

@media screen and (max-width: 500px) {
  button {
    width: 88%;
  }
  input {
    width: 68%;
    font-size: inherit;
  }
  form {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  form h2 {
    height: 50px;
    margin: 0;
  }
}
